<ion-view>

  <ion-header-bar class="bar-stable text-center">
    <div class="buttons">
      <button class="button" ng-click="goBack()"><i class="icon ion-ios-arrow-back lockEncoded"></i></button>
    </div>
    <h1 class="title">关于我们</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list" style="margin-bottom:0">
      <div class="item item-divider" style="text-align: center"><img ng-src="{{logo}}"><br>加密记事本<br><p style="color: #9e9e9e;font-size: 10px">v 0.0.1</p></div>
      <a class="item">功能介绍</a>
      <a class="item">常见问题</a>
    </div>
    <div class="item item-divider" style="text-align: center"><br><p style="color: #9e9e9e;font-size: 10px"><br><br>感谢 南阳理工学院<br>感谢 软件学院<br>感谢 指导老师:梁智学</p><br><br><br><br><p style="color: #0c60ee">服务条款和隐私政策</p>
      <p style="color: #9e9e9e;font-size: 10px">Copyright @ 2016 zhou. All Rights Reserved</p><br><br>
    </div>
  </ion-content>

</ion-view>
